.colored-border {
  display: flex;
  div {
    width: 33.3333%;
    height: 10px;
  }
}

.frontend-bg {
  background: $frontend-color;
}

.backend-bg {
  background: $backend-color;
}

.turing-bg {
  background: $turing-color;
}

.black-bg {
  background-color: #212121;
}

.blue-bg {
  background-color: $turing-color;
}

.hero-data {
  width: 300px;
  text-align: center;
  color: $bodycopy-grey;
}

.hero-data-point-container {
  .data-point {
    display: inline;
    line-height: 2;
  }
}

.hero-data-icon {
  max-width: 50px;
  margin-left: 20px;
}

.turing-stats-hero {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.table-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.table-grid.table-row {
  padding-top: 20px;
  border-top: 1px solid #c9c9c9;
  .table-data {
    border: none;
  }
}

.table-row.second-row {
  .data-point {
    color: $turing-color-level-2;
  }
}

.table-row.third-row {
  .data-point {
    color: $turing-color-level-3;
  }
}

.table-row.fourth-row {
  .data-point {
    color: $turing-color-level-4;
  }
}

.table-data {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #c9c9c9;
  flex: 1 0 100%;
}

.footnote {
  width: 100%;
}

.icon-data {
  display: none;
  max-width: 175px;
  margin: 80px 80px 0;
  &.lg {
    max-width: 300px;
    margin: 50px;
  }
}


@media #{$media-460px} {
  .table-data {
    max-width: 230px;
    margin-right: 30px;
    flex: 0 0 230px;
  }
}

@media #{$media-720px} {
  .hero-stats {
    display: flex;
    flex-wrap: wrap;
  }
  .table-data {
    margin-bottom: 50px;
  }
}

@media #{$media-1120px} {
  .icon-data {
    display: block;
  }
}
