.masthead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30vh;
  background-color: grey;
  padding: 20px;
  color: white;
  background: #212121 url(../images/keyboard.jpg) no-repeat;
  background-size: cover;
}

.logo-container {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
  max-width: 100px;
  &.turing-logo {
    bottom: 5px;
  }
}

.nav-link {
  display: block;
  max-width: 300px;
  margin: 10px 0;
  color: #7e7d7f;
  &.is-active {
    color: magenta;
  }
}

.stinger {
  width: 20px;
}

.masthead-footer {
  position: relative;
}

@media #{$media-460px} {
  .nav-link {
    display: inline-block;
    &:first-child {
      margin-right: 20px;
    }
  }
}

@media #{$media-720px} {
  .masthead {
    min-height: 50vh;
  }
  .logo-container {
    display: block;
  }

}

@media #{$media-1120px} {
  .masthead {
    min-height: 70vh;
  }
}
