.masthead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  background-color: grey;
  padding: 20px;
  color: white;
}

#masthead-nav {
  border: 1px solid magenta;
}

.masthead-logo {
  display: none;
}

.nav-link {
  display: block;
  margin: 10px 0;
  background: url(../images/down-stinger.png) no-repeat 90% 30%;
  background-size: 20px;
}
