html,
body,
main {
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
}

section {
  padding: 40px 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.left-justify {
  margin-left: -50px;
}

@media #{$media-720px} {
  section {
    padding: 80px 60px;
  }
}
