.section-overview h2,
.section-cs-degree h2,
.section-cs-degree p {
  color: #fff;
}

.section-overview {
  display: flex;
  flex-direction: column;
  .data-point {
    color: $turing-color;
    &.frontend {
      color: $frontend-color;
    }
    &.backend {
      color: $backend-color;
    }
    &.grey {
      color: #d2d0d0;
    }
    &.turing {
      color: $turing-color;
    }
  }
}

.hero-number {
  padding-top: 70px;
}

.section-requirements {
  h2, ul {
    margin-bottom: 30px;
  }
}

.section-graduation-data {
  h2, p {
    color: $turing-color-dark;
  }
}

.section-employment-results {
  h3 {
    margin: 30px 0;
  }
  .data-point-md {
    color: $turing-color;
  }
}

.section-interstitial {
  width: 100%;
  padding: 0;
}

.section-job-titles {
  h2, p, .data-point-md {
    color: $turing-color-dark;
  }
  .table-data {
    border-color: $turing-color-dark;
  }
}

.section-cs-degree {
  .data-point-md {
    margin-top: 40px;
  }
}


@media #{$media-720px} {
  .section-overview.black-bg {
    .hero-stats {
      margin-left: -50px;
      .hero-data {
        margin-right: 50px;
      }
    }
  }
  .section-graduation-data.blue-bg {
    .hero-stats {
      margin-left: -50px;
      .hero-data {
        margin-right: 50px;
      }
    }
  }
}

// this is super hacky...

@media #{$media-1120px} {
  .hero-number {
    position: relative;
    .data-point {
      position: absolute;
      top: 110px;
      font-size: 100px;
    }
    p {
      position: absolute;
      bottom: 20px;
    }
  }
}
