nav#masthead-nav
  a.nav-link.is-active href='/' 2016 CIRR Report <img src='../images/down-stinger.png' class='stinger'>
  a.nav-link href='/turing-report.html' 2016 Turing Report <img src='../images/down-stinger.png' class='stinger'>
