nav#masthead-nav
  a.nav-link.cirr-page href='/' 2016 CIRR Report <img src='../images/down-stinger.png' class='stinger'>
  a.nav-link.turing-page href='/turing-report.html' 2016 Turing Report <img src='../images/down-stinger.png' class='stinger'>
